<h1>Login</h1>

<form action="/session/login" method="POST"> 
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </fieldset>
    <input type="submit" value="Log In">
</form>