<h1 class="pageHeader">Register</h1>

<form action="/session/register" method="POST" class="form"> 
    
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">


        <label for="verifyPassword">Re-type Password:</label>
        <input type="password" name="verifyPassword" id="verifyPassword">

    <input type="submit" value="Register">
</form>