<h1>Register</h1>

<form action="/session/register" method="POST"> 
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </fieldset>
    <fieldset>
        <label for="verifyPassword">Re-type Password:</label>
        <input type="password" name="verifyPassword" id="verifyPassword">
    </fieldset>
    <input type="submit" value="Register">
</form>