<h1 id="wishlistHeader">My Wishlist</h1>

<% wishes.forEach ((wish) => { %>


    <div id="masterList">
        <ul id="item">

            <li><a href='/wishlist/<%=wish.id%>'> <%= wish.name %> </a> </li>
            <li> <em><%= wish.description%></em></li>
            <li> <img style="width: 200px;" src="<%=wish.image%>" alt=""></image></li>

        </ul>
    </div>  
   
    <% }) %>


