<h2>Add a Wish!</h2>

<form action="/wishlist" method="POST">
    <label for="name">Wish</label>
    <input type="text" name="name" id="name">

    <label for="description">Description</label>
    <input type="text" name="description" id="description">

    <label for="image">Image</label>
    <input type="text" name="image">

    <label for="why">Why?</label>
    <input type="text" name="why">

    <input type="submit" value="Add Wish">
</form>