

body {
    background: white;
    color: black;
    font-family:sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item {
    color: black;
    background-color:honeydew ;
    padding: 20px;
    height: 300px;
    width: 600px;
    border: 10px solid rgb(252, 212, 34);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showItem {
    color: white;
    background-color: cadetblue;
    padding: 20px;
    height: 40%;
    width: 40%;
    border: 10px solid royalblue;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#wishlistHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: xx-large;
}


#addWish{
    display: flex;
    flex-direction: column;
    margin: 0 40 0 40
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}