

body {
    background: lightblue;
    color: black;
    font-family:sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item {
    color: black;
    background-color:honeydew ;
    padding: 20px;
    height: 300px;
    width: 600px;
    border: 10px solid rgb(252, 212, 34);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showItem {
    color: white;
    background-color: cadetblue;
    padding: 20px;
    height: 40%;
    width: 40%;
    border: 10px solid royalblue;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pageHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: xx-large;
}


div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.form{
    display: flex;
    flex-direction: column;
    margin: 10 20 10 20;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input[type=text] {
    width: 15%;
    padding: 7px 10px;
    margin: 10px;
    box-sizing: content-box;
  }

input[type=password] {
    width: 15%;
    padding: 7px 10px;
    margin: 10px;
    box-sizing: content-box;
  }


input:focus{
    background-color: pink;
  }

label{
    margin:0;

  }

.wishEdits {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#delete {
    width: 60px;
}